@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-div{
    width: 336px;
    height: 268px;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    margin: 232px auto;
}


.sorting-photo{
    width: 25px;
    height: 15px;
    margin: 1px 280px;
}

.x-photo{
    width: 20px;
    height: 20px;
    margin: 10px 240px;
}

.heading{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.yellow{
    width: 336px;
    height: 28px;
    border-radius: 10px 10px 0px 0px;
    background: #FFDC40;
}

.input-area{
    width: 286px;
    height: 40px;
    margin: 11px auto;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
}

.add{
    width: 150px;
    height: 42px;
    margin: 18px auto;
    background: #833AE0;
    border-radius: 71px;
}

.button{
    width: 42px;
    height: 42px;
    background: #9953F1;
    border-radius: 71px;
}

.add{
    display:flex;
}

.dobavit{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

.plus{
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
}

.comment-form{
    text-align: center;
    display: block;
}